@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=IBM+Plex+Sans+Mono:wght@400;700&display=swap');

:root {
    --outline: #404040;
    --empty: #ffffff;
    --blocked: #000000;
    --selected: #F04646;

}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 1em;
    padding-top: 2em;
    font-size: 14pt;
}

#grid {
    border-collapse: collapse;
    margin: auto;
    table-layout: fixed;
    outline: 2px solid var(--blocked);
    outline-offset: -2px;
}

#grid td {
    width: 1.75em;
    height: 1.75em;
    border: 2px solid var(--outline);
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-family: 'IBM Plex Sans Mono', monospace;
}

#grid td input {
    width: 1.75em;
    height: 1.75em;
    border: none;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-family: 'IBM Plex Sans Mono', monospace;
    font-size: 14pt;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#grid td input:focus {
    background-color: var(--selected); 
}

#grid td.black {
    background-color: var(--blocked);
}

#grid td.todo {
    background-color: var(--empty);
}

#grid .number {
    position: absolute;
    margin-left: 0pt;
    margin-top: 0pt;
    font-size: 8pt;
}

#clues {
    margin: auto;
    padding: 1em;
}

#clues ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#clues ul li {
    margin-bottom: 0.5em;
}

h2 {
    text-align: left;
    margin: 0;
    margin-bottom: 0.5em;
    margin-top: 1em;
    text-decoration: underline;
    text-decoration-color: var(--selected);
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--selected);
    font-size: 24pt;
}

@media (max-width: 500px) {
    #grid td, #grid td input {
        width: 1.5em;
        height: 1.5em;
        font-size: 12pt;
    }

    #grid .number {
        font-size: 6pt;
    }
}

@media print {
    #grid td, #grid td input {
        width: 1.5em;
        height: 1.5em;
        font-size: 12pt;
    }

    #grid .number {
        font-size: 6pt;
    }

    #clues {
        font-size: 8pt;
    }

    #clues h2 {
        margin-top: 3em;
    }

    #clues ul {
        column-count: 2;
        column-gap: 3em;
    }
    /* don't break li's  over columns */
    #clues ul li {
        break-inside: avoid;
    }
}